{lib_dirs, ["deps"]}.
{erl_opts, [
            debug_info,
            warn_format,
            warn_export_vars,
            warn_obsolete_guard,
            warn_bif_clash
           ]}.

{deps, [
  {cowboy, ".*", {git, "git://github.com/ninenines/cowboy.git", {tag, "1.0.1"}}},
  {mimetypes, ".*", {git, "git://github.com/spawngrid/mimetypes.git"}},
  {erlmc, ".*", {git, "git://github.com/jkvor/erlmc.git"}}
]}.
